body
    div.game-window-root !{reactData}
    if (scriptSource)
        script(type="text/javascript" src= scriptSource)
    if (navbarScriptSource)
        script(type="text/javascript" src= navbarScriptSource)
