body {
    margin: 0 auto;
    background-color: #444444;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 320px;
}

* {
    cursor: default;
    box-sizing: border-box;
}

.game-window-root {
    max-width: 960px;
    max-height: 600px;
    min-width: 320px;
    min-height: 320px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid #111111;
    background-color: #CCCCCC;
}






.login-page-highest-parent,
.signup-page-highest-parent {
    margin: 10% auto auto auto;
}

.signup-form {
    display: grid;
    width: 320px;
}

.anchor-always-blue {
    text-decoration: none;
    color:blue;
}





.character-data-display-top-bar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 54px;
    background-color: #999999;
    border-bottom: 1px solid #333333;
}

.character-data-parent {
    width: 150px;
    height: 54px;
    margin-left: 2px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.character-data-username {
    width: 150px;
    font-size: 20px;
    color: #111111;
}

.character-data-level {
    font-size: 14px;
    color: #111111;
    width: 60px;
}

.character-data-gold {
    display: flex;
    flex-wrap: wrap;
    width: 75px;
}

.character-data-gold-image {
    height: 14px;
    width: auto;
    margin: 0 2px 0 0;
}

.character-data-gold-text {
    font-size: 14px;
    color: black;
}





.logout-button-anchor {
    height: 48px;
    width: auto;
    align-self: flex-end;
    margin: auto 2px auto auto;
    text-decoration: none !important;
    color: black;
}

.logout-button-image {
    height: 30px;
    width: auto;
    display: flex;
    margin: auto;
}





.left-navbar-highest-parent {
    height: calc(100% - 54px);
    max-width: 145px;
    width: min-content;
    text-align: center;
    background-color: #999999;
    border-right: 1px solid #333333;
    display: flex;
    flex-direction: column;
    align-content: baseline;
}

.left-navbar-element {
    height: 66px;
    width: 100%;
    background-color: #666666;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
    margin-bottom: 8px;
}

.left-navbar-element:first-child {
    border-top: none;
}

.left-navbar-element:last-child {
    margin: 0;
}

.left-navbar-element:hover {
    transition: 0.15s;
    background-color: #484848;
}

.left-navbar-anchor-align {
    max-width: 100%;
    height: auto;
    margin: auto;
}

.left-navbar-anchor {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.left-navbar-toggle-visible--container {
    float: right;
    width: 100%;
    display: flex;
    flex-grow: 1;
}

.left-navbar-toggle-visible--middle-alignment {
    margin: auto 0 auto auto;
    height: 40px;
    width: 40px;
}

.left-navbar-toggle-visible--button {
    width: 80%;
    align-self: flex-end;
    margin: auto -2px 0 auto;
    font-size: 32px;
    border: 1px solid;
    border-radius: 10%;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}





/*this class encompasses the whole page when there is a top and left bar with character info and nav links*/
.navigation-shell-highest-parent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/*this class goes on the root node of any component that appears inside the 'nav shell' */
.navigation-shell-internal-component {
    height: calc(100% - 54px);
    width: calc(100% - 145px);
    display: flex;
    flex-wrap: wrap;
}







/*.inventory-item-container {*/
    /*!*overflow-y: scroll;*!*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*!*box-sizing: content-box;*!*/
    /*text-transform: capitalize;*/
    /*overflow: hidden;*/
/*}*/

/*.inventory-item-container div {*/
    /*margin-top: 1px;*/
/*}*/

/*.inventory-item-legend {*/
    /*width: 100%;*/
    /*height: 18px;*/
    /*border: 1px solid #222;*/
    /*font-size: 15px;*/
    /*display: flex;*/
    /*margin-bottom: 5px;*/
/*}*/

/*.inventory-item-legend p {*/
    /*margin: 0 auto;*/
    /*border-right: 1px solid #222;*/
/*}*/

/*.inventory-item-legend p:last-child {*/
    /*border: none;*/
/*}*/

/*.inventory-item-legend-item-name {*/
    /*width: 40%;*/
    /*overflow: hidden;*/
/*}*/

/*.inventory-item-legend-hand-style {*/
    /*width: 10%;*/
    /*text-align: center;*/
    /*overflow: hidden;*/
/*}*/

/*.inventory-item-legend-damage {*/
    /*width: 18%;*/
    /*color: darkred;*/
    /*text-align: center;*/
    /*overflow: hidden;*/
/*}*/

/*.inventory-item-legend-crit {*/
    /*width: 11%;*/
    /*color: darkblue;*/
    /*text-align: center;*/
    /*overflow: hidden;*/
/*}*/

/*.inventory-item-legend-req {*/
    /*width: 13%;*/
    /*color: darkgreen;*/
    /*text-align: center;*/
    /*overflow: hidden;*/
/*}*/

/*.inventory-item-legend-equip {*/
    /*width: 8%;*/
    /*text-align: center;*/
    /*overflow: hidden;*/
/*}*/

/*.inventory-item-parent p {*/
    /*margin: 0 auto;*/
    /*border-right: 1px solid #222;*/
/*}*/

/*.inventory-item-parent p:last-child {*/
    /*border-right: none;*/
/*}*/

/*.inventory-item-parent {*/
    /*width: 100%;*/
    /*border: 1px solid #222;*/
    /*display: flex;*/
/*}*/

/*.inventory-item--item-name {*/
    /*width: 40%;*/
/*}*/

/*.inventory-item--hand-style {*/
    /*width: 10%;*/
    /*text-align: center;*/
/*}*/

/*.inventory-item--damage {*/
    /*width: 18%;*/
    /*text-align: center;*/
/*}*/

/*.inventory-item--crit {*/
    /*width: 11%;*/
    /*text-align: center;*/
/*}*/

/*.inventory-item--req {*/
    /*width: 13%;*/
    /*text-align: center;*/
/*}*/

/*.inventory-item--equip {*/
    /*width: 8%;*/
    /*padding: 0;*/
    /*overflow: hidden;*/
/*}*/





.inventory--highest-parent {
    /*min-width: 300px;*/
    /*overflow: hidden;*/
    flex-grow: 1;
}

.inventory-item-icon-container {
    /*width: 64%;*/
    width: calc(100% - 180px);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: scroll;
    border-right: 1px solid black;
    flex-grow: 1;
}

.inventory-item-icon--image-parent {
    width: 96px;
    height: 96px;
    padding: 2px;
    border: 1px solid #333333;
    background: #a6a6;
}

.inventory-item-icon--image {
    width: 100%;
    height: 100%;
}

.inventory-stat-display--highest-parent {
    /*width:36%;*/
    width: min-content;
    max-width: 180px;
    margin: 0 auto;
    padding: 0 4px;
    height: 100%;
    overflow: hidden;
}

.inventory-stat-display--alignment {
    width: 100%;
    min-height: 320px;
    height: 100%;
    padding: 4px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

div.inventory-stat-display--parent div div {
    margin: 0 auto;
}

.inventory-stat-display--image-container {
    width: 90px;
    height: 90px;
}

.inventory-stat-display--image {
    width: 100%;
    height: 100%;
}

.inventory-stat-display--item-name {
    text-transform: capitalize;
}







.battle-highest-parent {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.battle-alignment {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.battle-player-image {
    width: 128px;
    height: 256px;
}

.battle-enemy-image {
    width: 128px;
    height: 256px;
}

.battle-attack--form {
    height: 36px;
    width: 100%;
    background: #aaa;
    margin: 0;
}

.battle-attack--button {
    width: 80px;
    height: 30px;
    margin: 3px;
}







.battle-lost--highest-parent {

}

.battle-lost--align-text {
    width: 50%;
    height: 15%;
    margin: 40px auto;
    font-size: 24px;
}

.battle-lost--button {

}





.reward-highest-parent {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reward-gold-parent {
    min-width: 30px;
    max-width: 240px;
    font-size: 16px;
    margin: 15px auto;
}

.reward-experience-parent {
    min-width: 240px;
    max-width: 300px;
    font-size: 16px;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;

}

.reward-experience--gained-experience {
    margin: 0 auto 9px;
    max-width: 200px;
    height: 40%;
}

.reward-experience--align-levels-and-bar {
    height: 60%;
    width: 100%;
    display: flex;
}

.reward-experience--progress-bar-parent {
    max-width: 240px;
    width: 100%;
    height: 24px;
    border: 1px solid black;
    background: darkred;
    margin: 0 5px;
}

.reward-experience--progress-bar-child--bar {
    background: lawngreen;
    height: 100%;
    animation-name: experienceBarFill;
    animation-duration: 2.5s;
}

.reward-experience--current-level {
    max-width: 30px;
    margin: auto;
}

.reward-experience--next-level {
    max-width: 30px;
    margin: auto;
}

/* Animation for experience bar filling to current %
   a max-width is set on the bar which stops the animation when it reaches the 'current level percentage'
*/
@keyframes experienceBarFill {
    from {width: 0;}
    to {width:100%;}
}

.reward-item-parent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin: 15px auto;
}

.reward-item-child {
    text-transform: capitalize;
    margin: 5px auto 0;
}

.reward-item--no-item {

}




#app {
    height: calc(100% - 54px);
    width: calc(100% - 145px);
}

.typetext {
    width: 32px;
    height: 32px;
    border: 1px solid black;
    margin: auto;
}

.typetextbig {
    width: 128px;
    height: 128px;
    border: 1px solid black;
    margin: auto;
}

.display {
    height: 100%;
    width: 100%;
    font-size: 72px;
    margin: auto;
}

.display-none {
    display: none;
}

.display-inline-block {
    display: inline-block;
}





/*
code to calculate width breakpoints for multiple item displays
for (let i = 1; i < MAX_ROWS = 6; i++) {
	const cur = (i * 96)
	console.log(cur + (cur * 0.5625) + 20 + 154)
}

width  breakpoints [324, 474, 624, 774, 924, 1074, 1224, 1374, 1524, 1674]

height breakpoints [150, 246, 342, 438, 534, 630,  726,  822,  918,  1014]

height is just 54 + (96 * i)
*/







@media only screen and (max-width: 323px) {
    .game-window-root {
        min-width: 324px;
        width: 100vw;
    }
}

@media only screen and (min-width: 324px) {
    .game-window-root {
        min-width: 324px;
        width: 100vw;
    }
}

@media only screen and (max-width: 448px) {
    /*.inventory-item-icon-container {*/
        /*width: 120px;*/
    /*}*/
    /*.inventory-stat-display--highest-parent {*/
        /*width: calc(100% - 120px);*/
    /*}*/
}

@media only screen and (min-width: 449px) {
    /*.inventory-item-icon-container {*/
        /*width: 240px;*/
    /*}*/
    /*.inventory-stat-display--highest-parent {*/
        /*width: calc(100% - 240px);*/
    /*}*/
}

@media only screen and (min-width: 474px) {
    .game-window-root {
        min-width: 474px;
        width: 100vw;
    }
    /*.inventory-item-icon-container {*/
        /*width: 60%;*/
    /*}*/
    /*.inventory-stat-display--highest-parent {*/
        /*width: 40%;*/
    /*}*/
    .inventory-stat-display--highest-parent {
        width: max-content;
        max-width: 200px;
    }
}

@media only screen and (min-width: 624px) {
    .game-window-root {
        min-width: 624px;
        width: 100vw;
    }
    .inventory-stat-display--alignment {
        align-items: center;
    }
    /*.inventory-item-icon-container {*/
        /*width: 64%;*/
    /*}*/
    /*.inventory-stat-display--highest-parent {*/
        /*width: 36%;*/
    /*}*/
}

@media only screen and (min-width: 774px) {
    .game-window-root {
        min-width: 774px;
        width: 100vw;
    }
}

@media only screen and (min-width: 924px) {
    .game-window-root {
        min-width: 924px;
        width: 100vw;
    }
}




@media only screen and (max-height: 245px) {
    .game-window-root {
        height: 100vh;
    }
}

@media only screen and (min-height: 246px) {
    .game-window-root {
        height: 100vh;
    }
}

@media only screen and (min-height: 342px) {
    .game-window-root {
        min-height: 342px;
        height: 100vh;
    }
}

@media only screen and (min-height: 438px) {
    .game-window-root {
        min-height: 438px;
        height: 100vh;
    }
}

@media only screen and (min-height: 534px) {
    .game-window-root {
        min-height: 534px;
        height: 100vh;
    }
}

@media only screen and (min-height: 630px) {
    .game-window-root {
        min-height: 630px;
        height: 100vh;
    }
}

/*@media only screen and (min-height: 726px) {*/
    /*.game-window-root {*/
        /*min-height: 726px;*/
        /*height: 100vh;*/
    /*}*/
/*}*/

/*@media only screen and (min-height: 822px) {*/
    /*.game-window-root {*/
        /*min-height: 822px;*/
        /*height: 100vh;*/
    /*}*/
/*}*/
